/*
Addressfield Theming
version 2023.3.1
https://forum.vivaldi.net/post/356714
Themes hostfragments and changes icon color for blocked content and the bookmark
button.
*/

.UrlFragment-Wrapper:not(.UrlFragment-Wrapper--ShouldHighlight) {
  --HighlightColor: var(--colorFg);
  --LowlightColor: var(--colorFg);
}
.UrlFragment-Wrapper--ShouldHighlight {
  --HighlightColor: var(--colorFg);
  --LowlightColor: var(--colorFgFadedMost);
}
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Subdomain,
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Basedomain,
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-TLD {
  font-weight: bold;
}
.BookmarkButton .bookmark-animated-fill {
  fill: var(--colorFg) !important;
}

.permission-denied circle {
  fill: var(--colorHighlightBg);
}
.permission-denied path {
  fill: var(--colorHighlightFg);
}
