/*
Addressfield Theming
version 2022.2.0
https://forum.vivaldi.net/topic/45260/addressfield-theming
Changes the colors of the hostfragments, the certified siteinfo button, the icons for blocked
content and the bookmark button in the addressfield.
*/

.UrlFragment-Wrapper,
.UrlFragment--Lowlight:first-of-type {
  color: var(--colorFgFaded);
}
.UrlFragment-HostFragment-Basedomain,
.UrlFragment-HostFragment-TLD {
  color: var(--colorFgIntense) !important;
  font-weight: bold;
}
.UrlFragment-HostFragment-Subdomain {
  color: var(--colorHighlightBg) !important;
  font-weight: bold;
}
.SiteInfoButton.certified {
  fill: var(--colorHighlightBgDark);
  color: var(--colorHighlightBg);
}
.SiteInfoButton.certified:hover,
.SiteInfoButton.certified:focus:not([tabindex="-1"]),
.SiteInfoButton.certified:active {
  fill: var(--colorHighlightBg);
}
.bookmark-animated-fill {
  fill: var(--colorFg) !important;
}
.permission-denied circle {
  fill: var(--colorHighlightBg);
}
.permission-denied path {
  fill: var(--colorHighlightFg);
}
