/*
M3
version 2021.9.0
https://forum.vivaldi.net/post/430762
Changes the name of the mail panel ^^
*/

#mail_panel h1 {
  text-indent: -9999px;
}
#mail_panel h1::after {
  display: block;
  margin-top: -20px;
  text-indent: 0px;
  content: "M3";
}
