/*
Safari Look
https://forum.vivaldi.net/topic/23138/solved-modding-the-adressbar-top-window-to-get-it-look-like-safari-browser/6
Safari (browser) like address bar. Requested mod. Dependent on safari-look.js
*/

#tabs-container.no-thumbs.bottom {
	order: -1;
	padding-top: 4px;
	padding-bottom: 0px;
}
.toolbar.toolbar-addressbar {
	display: flex;
	order: -2;
}
.stacks-on.tabs-bottom .tab-strip .tab-group-indicator {
	bottom: 28px;
}
.stacks-on.tabs-bottom .tab-strip .tab-group-indicator .tab-indicator.active {
	padding-top: 3px;
}
#header {
	min-height: 0 !important;
	z-index: auto;
}
.container {
	width: 100%;
	display: flex;
    justify-content: space-between;
    -webkit-app-region: drag;
}
#browser.mac .window-buttongroup {
	display: flex;
	margin-top: 9px !important;
}
#browser.mac .window-buttongroup button {
	margin-right: 8px;
}
#browser.mac .window-buttongroup button.window-minimze {
	order: 1;
}
#browser.mac .window-buttongroup button.window-maximize {
	order: 2;
}
.addressfield {
	max-width: 600px;
}
