/*
Site Info Theming
https://forum.vivaldi.net/topic/34184/simplified-https-lock/4
Themes the site info in Vivaldi 2.6.
*/

#browser:not(.private) .SiteInfoButton.secure, #browser:not(.private) .SiteInfoButton.certified {
    fill: var(--colorHighlightBg);
    background-color: var(--colorHighlightBgAlpha);
}
#browser:not(.private) .SiteInfoButton.secure:hover, #browser:not(.private) .SiteInfoButton.certified:hover, #browser:not(.private) .SiteInfoButton.secure:focus:not([tabindex='-1']), #browser:not(.private) .SiteInfoButton.certified:focus:not([tabindex='-1']) {
    border-color: var(--colorBorderHighlight);
    background-color: var(--colorHighlightBgAlpha);
}
#browser:not(.private) .SiteInfoButton.certified {
    color: var(--colorHighlightBg);
}
#browser:not(.private) .SiteInfoButton.certified .siteinfo-symbol {
    background-color: var(--colorHighlightBg);
    fill: var(--colorHighlightFg);
}
