/*
Tools Menu (CSS Part)
https://forum.vivaldi.net/topic/22766/attack-on-the-status-bar
Replaces the status bar with a tool button in the address bar, which loads the status bar as overlay. Also introduces a button in the bar to toggle the status-info (link address). Dependent on tools-menu.js
*/

#tools svg path {
	d: path('M483.97,105.709c-2.491-9.958-14.903-13.424-22.157-6.165l-58.913,58.914c-13.083,13.077-34.291,13.077-47.372,0   l-27.03-27.031c-13.082-13.081-13.082-34.289,0-47.372l58.196-58.197c7.307-7.307,3.751-19.838-6.306-22.193   c-13.772-3.218-28.327-4.406-43.339-3.208c-64.522,5.148-123.907,65.649-127.923,130.254c-1.521,24.503,3.43,47.667,13.077,68.186   L16.253,375.878c-9.263,7.96-14.81,19.401-15.323,31.602c-0.519,12.201,4.042,24.068,12.599,32.78l34.902,35.541   c8.64,8.802,20.57,13.586,32.899,13.19c12.33-0.399,23.928-5.936,31.986-15.271l178.388-206.684   c19.917,8.889,42.21,13.424,65.747,11.956c65.041-4.058,125.554-63.92,130.29-128.91   C488.863,134.686,487.482,119.777,483.97,105.709z');
}
#toggle-links svg path {
	d: path('M17.6 20.4l-1.6 1.6-9-9 9-9 1.6 1.6-7.2 7.4 7.2 7.4z');
}
#toggle-links svg {
	margin-top: 2px;
}
#droptool {
    position: absolute;
    z-index: 1;
    right: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.callout {
	bottom: unset;
	margin-top: 1px;
}
.callout::before, .callout::after {
	display: none;
}
#divID {
	order: 1
}
.sync-status {
	order: 2;
}
.status-toolbar {
	order: 3;
}
#footer {
	border-right: none;
}
#status_info {
	display: none;
}
#footer.zeig #status_info.visible {
	display: flex;
	max-width: 500px;
}
.paneltogglefooter {
	display: none !important;
}
