/*
Window buttons mod for macOS
https://forum.vivaldi.net/topic/33606/window-buttons-mod-for-macos
Changes the shape of unhovered window buttons on macOS. A version for Windows is available in the topic.
*/

/* window buttons */

#browser.mac .window-buttongroup button svg {
    display: none;
}
#titlebar {
    height: 100%;
}
#browser.mac .window-buttongroup {
    height: 100%;
    margin: 0;
    padding: 14px 8px 0;
}
#browser.mac #titlebar.tabless .window-buttongroup {
    margin-top: 0px;
    padding-top: 5px;
}
.stacks-off.fullscreen#browser.mac .window-buttongroup, .tabs-at-edge#browser.mac .window-buttongroup {
    margin-top: 0px;
    padding-top: 9px;
}
#browser.mac .window-buttongroup button {
    margin-top: 3px;
    height: 6px;
    width: 12px;
    opacity: 0.2;
    background-color: var(--colorFg);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    transition-duration: 150ms;
    transition-property: margin, height, border-radius;
}
#browser.mac .window-buttongroup:hover button {
    margin-top: 0px;
    height: 12px;
    border-radius: 50%;
}
:not(.fullscreen).hasfocus#browser.mac .window-buttongroup.graphite button.window-minimize, .hasfocus#browser.mac .window-buttongroup.graphite button.window-maximize, .hasfocus#browser.mac .window-buttongroup.graphite button.window-close {
    opacity: 1;
    background-color: #8e8e93;
    border-color: #727277;
}
:not(.fullscreen).hasfocus#browser.mac .window-buttongroup:not(.graphite) button.window-minimize {
    opacity: 1;
    background-color: #f7bb3f;
    border-color: #dc9e34;
}
.hasfocus#browser.mac .window-buttongroup:not(.graphite) button.window-maximize {
    opacity: 1;
    background-color: #34c749;
    border-color: #1fa42d;
}
.hasfocus#browser.mac .window-buttongroup:not(.graphite) button.window-close {
    opacity: 1;
    background-color: #f8625e;
    border-color: #de4947;
}
