/* bookmark dropdown */
.BookmarkPopup-LocationSelector {
    height: 330px;
}

/* internal pages */
.startpage .startpage-content, .Experiments {
    background-image: linear-gradient(to bottom, transparent 50%, var(--colorBg) 50%), linear-gradient(to right, var(--colorBgDark) 50%, var(--colorBg) 50%);
    background-size: 10px 10px, 10px 10px;
}
.Experiments.vivaldi-settings h2 {
    border-bottom: none;
}

/* window buttons */
.window-buttongroup button.window-maximize, .window-buttongroup button.window-minimize {
    display: none;
}
.linux #tabs-container:not(.none).top {
    padding-right: 40px;
}

/* address field theming */
.UrlBar-AddressField .ContentBlocker-Control {
    display: none;
}
.UrlFragment-Wrapper, .UrlFragment--Lowlight:first-of-type {
    color: var(--colorFgFaded);
}
.UrlFragment-HostFragment-Basedomain, .UrlFragment-HostFragment-TLD {
    color: var(--colorFgIntense) !important;
    font-weight: bold;
}
.UrlFragment-HostFragment-Subdomain {
    color: var(--colorHighlightBg) !important;
    font-weight: bold;
}
.SiteInfoButton.certified, .SiteInfoButton.secure {
    fill: var(--colorHighlightBgDark);
    color: var(--colorHighlightBg);
}
.SiteInfoButton.certified:hover, .SiteInfoButton.certified:focus:not([tabindex='-1']), .SiteInfoButton.certified:active, .SiteInfoButton.secure:hover, .SiteInfoButton.secure:focus:not([tabindex='-1']), .SiteInfoButton.secure:active {
    fill: var(--colorHighlightBg);
}
.bookmark-animated-fill {
    fill: var(--colorFg) !important;
}
.permission-denied circle {
    fill: var(--colorHighlightBg);
}
.permission-denied path {
    fill: var(--colorHighlightFg);
}

/* clock */
.ClockGraphic-Second-Hand {
    fill: var(--colorHighlightBg);
}

/* profile image mod */
.profile-popup {
    display: none;
}
.profile-popup.sichtbar {
    display: block;
}

/* exchanging icons */
.UrlBar button[title="Go to homepage"] svg path {
    d: path("M 4 6 h 18 v 2.5 h -3.5 v 11.5 h -2.5 v -9.5 h -6 v 9.5 h -2.5 v -11.5 h -3.5 Z");
}
.toggle-trash.button-toolbar button svg path {
    d: path("M 6.5 8 h13 v2 h-13 Z M 6.5 12 h13 v2 h-13 Z M 9 16 h8 v2 h-8 Z");
}
.tab[title="Start Page"] .favicon.jstest-favicon-image.svg svg path {
    d: path("M7,12h9v2h-9Z");
}
.tab[title="Start Page"] .title {
    text-indent: -9999px;
}
.tab[title="Start Page"] .title::after {
    display: block;
    text-indent: 0px;
    content: "startpage";
}
#mail_panel h1 {
    text-indent: -9999px;
}
#mail_panel h1::after {
    display: block;
    margin-top: -20px;
    text-indent: 0px;
    content: "M3";
}
/* #switch button.webviewbtn img { */
    /* background-color: rgba(255, 255, 255, 0.33) !important; */
    /* filter: grayscale(1); */
/* } */

/* history moon */
#switch button.history svg:not(.history-moon) {
    display: none;
}
.history-moon {
    width: 14px !important;
    height: 14px !important;
}
.history-moon-0 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z");
}
.history-moon-1 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z M117.6,18.4 C135.5,40.4 146.5,70.2 146.5,102 C146.5,141.4 131.5,175.7 108,198.1 C108,198.1 108.1,198.1 108.1,198.1 C157.8,198.1 198.2,157.7 198.2,108 C198.3,61.6 162.9,23.2 117.6,18.4 z");
}
.history-moon-2 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z M108.1,17.9 C105,17.9 101.9,18.1 98.9,18.4 L98.9,197.7 C101.9,198 105,198.2 108.1,198.2 C157.8,198.2 198.2,157.8 198.2,108.1 C198.3,58.4 157.8,17.9 108.1,17.9 z");
}
.history-moon-3 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z M198.2,108.1 C198.2,58.4 157.8,18 108.1,18 C96.8,18 86,20.1 76.1,23.9 C62.4,45.3 54.1,73.3 54.1,104 C54.1,140.2 65.7,172.7 84,194.9 C91.7,197 99.8,198.2 108.2,198.2 C157.7,198.2 198.2,157.8 198.2,108.1 z");
}
.history-moon-4 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z M108.2,198.2 C58.4,198.2 18,157.8 18,108.1 C18,58.4 58.4,18 108.1,18 C157.8,18 198.2,58.4 198.2,108.1 C198.2,157.8 157.8,198.2 108.1,198.2 z");
}
.history-moon-5 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z M18,108.1 C18,157.8 58.4,198.2 108.1,198.2 C109.1,198.2 110.1,198.2 111,198.1 C132.6,176.9 146.4,143.9 146.4,107 C146.4,71.3 133.5,39.4 113.2,18.1 C111.5,18 109.8,17.9 108,17.9 C58.4,17.9 18,58.4 18,108.1 z");
}
.history-moon-6 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z M98.9,18.4 C53.5,23 18,61.5 18,108.1 C18,154.7 53.5,193.1 98.9,197.8 L98.9,18.4 z");
}
.history-moon-7 {
    d: path("M216.2,108.1 A108.1,108.1 0 0 1 108.1,216.2 A108.1,108.1 0 0 1 0,108.1 A108.1,108.1 0 0 1 108.1,0 A108.1,108.1 0 0 1 216.2,108.1 z M61.1,110.4 C61.1,75.4 72.1,43.5 90,19.8 C49,28.2 18,64.6 18,108.1 C18,150.2 47,185.6 86,195.5 C70.4,172.4 61.1,142.7 61.1,110.4 z");
}
