
/* internal pages */
.startpage .startpage-content, .Experiments {
    background-image: linear-gradient(to bottom, transparent 50%, var(--colorBg) 50%), linear-gradient(to right, var(--colorBgDark) 50%, var(--colorBg) 50%);
    background-size: 10px 10px, 10px 10px;
}
.Experiments.vivaldi-settings h2 {
    border-bottom: none;
}

/* window buttons */
.window-buttongroup button.window-maximize, .window-buttongroup button.window-minimize {
    display: none;
}
.linux #tabs-container:not(.none).top {
    padding-right: 40px;
}

/* address field theming */
.UrlBar-AddressField .ContentBlocker-Control {
    display: none;
}
.UrlFragment-Wrapper, .UrlFragment--Lowlight:first-of-type {
    color: var(--colorFgFaded);
}
.UrlFragment-HostFragment-Basedomain, .UrlFragment-HostFragment-TLD {
    color: var(--colorFgIntense) !important;
    font-weight: bold;
}
.UrlFragment-HostFragment-Subdomain {
    color: var(--colorHighlightBg) !important;
    font-weight: bold;
}
.SiteInfoButton.certified, .SiteInfoButton.secure {
    fill: var(--colorHighlightBgDark);
    color: var(--colorHighlightBg);
}
.SiteInfoButton.certified:hover, .SiteInfoButton.certified:focus:not([tabindex='-1']), .SiteInfoButton.certified:active, .SiteInfoButton.secure:hover, .SiteInfoButton.secure:focus:not([tabindex='-1']), .SiteInfoButton.secure:active {
    fill: var(--colorHighlightBg);
}
.bookmark-animated-fill {
    fill: var(--colorFg) !important;
}
.permission-denied circle {
    fill: var(--colorHighlightBg);
}
.permission-denied path {
    fill: var(--colorHighlightFg);
}

/* clock */
.ClockGraphic-Second-Hand {
    fill: var(--colorHighlightBg);
}

/* profile image mod */
.profile-popup {
    display: none;
}
.profile-popup.sichtbar {
    display: block;
}

/* exchanging icons */
.UrlBar button[title="Go to homepage"] svg path {
    d: path("M 4 6 h 18 v 2.5 h -3.5 v 11.5 h -2.5 v -9.5 h -6 v 9.5 h -2.5 v -11.5 h -3.5 Z");
}
.toggle-trash.button-toolbar button svg path {
    d: path("M 6.5 8 h13 v2 h-13 Z M 6.5 12 h13 v2 h-13 Z M 9 16 h8 v2 h-8 Z");
}
.tab[title="Start Page"] .favicon.jstest-favicon-image.svg svg path {
    d: path("M7,12h9v2h-9Z");
}
.tab[title="Start Page"] .title {
    text-indent: -9999px;
}
.tab[title="Start Page"] .title::after {
    display: block;
    text-indent: 0px;
    content: "startpage";
}
#mail_panel h1 {
    text-indent: -9999px;
}
#mail_panel h1::after {
    display: block;
    margin-top: -20px;
    text-indent: 0px;
    content: "M3";
}
#switch button.webviewbtn img {
    background-color: rgba(255, 255, 255, 0.33) !important;
    filter: grayscale(1);
}

/* history moon */
#switch button.history svg:not(.history-moon) {
    display: none;
}
.history-moon-color {
    fill: var(--colorBgAlphaBlur);
}
.history-moon-1 {
    d: path("M8.426720252567337,1.3126255118425245 C9.709358984952713,2.882068751728848 10.497572731111324,5.007950958483964 10.497572731111324,7.347848152496303 C10.497572731111324,10.087239989388792 9.422735804531404,12.534144677029746 7.738824619556188,14.13212324855037 C7.738824619556188,14.13212324855037 7.745990199066718,14.13212324855037 7.745990199066718,14.13212324855037 C11.307283215801533,14.13212324855037 14.202177338056787,11.250054753486394 14.202177338056787,7.704539797925011 C14.209342917567326,4.394441328346579 11.672727770838701,1.6550494914540888 8.426720252567337,1.3126255118425245 z");
}
.history-moon-2 {
    d: path("M7.740839177294969,1.2796284084613763 C7.5188539052908405,1.2796284084613763 7.296868633286752,1.2939259406625754 7.082044176508573,1.3153722389643818 L7.082044176508573,14.1331098573422 C7.296868633286752,14.154556155644004 7.5188539052908405,14.168853687845202 7.740839177294969,14.168853687845202 C11.29976434458668,14.168853687845202 14.192733695866046,11.280752183202345 14.192733695866046,7.727815431203588 C14.199894511091989,4.174878679204829 11.29976434458668,1.2796284084613763 7.740839177294969,1.2796284084613763 z");
}
.history-moon-3 {
    d: path("M14.20215571273354,7.748737620176525 C14.20215571273354,4.186182366521507 11.307266537055325,1.2902622005725612 7.745979605589776,1.2902622005725612 C6.936270504471866,1.2902622005725612 6.16238923968659,1.440792704248126 5.452998080300091,1.713181234708668 C4.471315364785451,3.247158748354892 3.8765732816634326,5.254232130695746 3.8765732816634326,7.454844732048042 C3.8765732816634326,10.049703890645857 4.70777908458094,12.379342638005776 6.019077894355984,13.970665105433168 C6.57082657387881,14.121195609108735 7.151237522467774,14.20721303978048 7.7531451728563034,14.20721303978048 C11.300100969788781,14.20721303978048 14.20215571273354,11.311292873831537 14.20215571273354,7.748737620176525 z");
}
.history-moon-4 {
    d: path("M7.749664397187047,14.15708430557738 C4.186682700802227,14.15708430557738 1.2904158892540032,11.271381959542948 1.2904158892540032,7.721396647713464 C1.2904158892540032,4.171411335883975 4.186682700802227,1.285708989849545 7.749664397187047,1.285708989849545 C11.312646093571855,1.285708989849545 14.208912905120076,4.171411335883975 14.208912905120076,7.721396647713464 C14.208912905120076,11.271381959542948 11.312646093571855,14.15708430557738 7.749664397187047,14.15708430557738 z");
}
.history-moon-5 {
    d: path("M1.289805105991618,7.730202516105598 C1.289805105991618,11.284236431610434 4.184699393318431,14.173229795521804 7.745992613123926,14.173229795521804 C7.81764841231518,14.173229795521804 7.8893042115064365,14.173229795521804 7.953794430778587,14.16607882184876 C9.501559693309735,12.650072403162584 10.490409722149103,10.29025109105676 10.490409722149103,7.651541805702068 C10.490409722149103,5.098644204423948 9.566049912581887,2.817483602721649 8.111437188999341,1.294326210362438 C7.98962233037422,1.2871752366893876 7.867807471749071,1.2800242630163374 7.738827033204818,1.2800242630163374 C4.184699393318431,1.2800242630163374 1.289805105991618,4.17616860060076 1.289805105991618,7.730202516105598 z");
}
.history-moon-6 {
    d: path("M7.134361696826222,1.3157778085000562 C3.9078605469808245,1.644722259447781 1.3849356390620768,4.397844294553733 1.3849356390620768,7.730194601980681 C1.3849356390620768,11.062544909407636 3.9078605469808245,13.808515978188636 7.134361696826222,14.144611395461311 L7.134361696826222,1.3157778085000562 z");
}
.history-moon-7 {
    d: path("M4.378165495012214,7.86768830260913 C4.378165495012214,5.373403093544438 5.166378331594533,3.100040288711192 6.449015583851212,1.411052875715964 C3.5111313747717072,2.009681325891487 1.2898042898579125,4.603737943318766 1.2898042898579125,7.703778131727744 C1.2898042898579125,10.704046911774132 3.3678199499385655,13.226838237513851 6.162392734184929,13.932364625220716 C5.044563620486376,12.286136387238015 4.378165495012214,10.169557224117415 4.378165495012214,7.86768830260913 z");
}
