/*
Binary Clock Widget
version 2024.12.0
Guide and updates → https://forum.vivaldi.net/post/786622
———————— *** ————————
*/

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: var(--colorBg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 90vh;
  width: 90vw;
}
svg circle {
  fill: color-mix(in oklch, var(--colorBg) 30%, var(--colorHighlightBg));
  opacity: 0.5;
}
svg circle.one {
  opacity: 1;
}
