/*
Moon Phase Widget
version 2026.1.0
Guide and updates → https://forum.vivaldi.net/post/798319
———————— *** ————————
*/
:focus-visible {
  outline: 2px solid var(--colorHighlightBg);
  outline-offset: -1px;
}
html {
  container-type: normal;
  scrollbar-width: thin;
  scrollbar-color: color-mix(in oklch, var(--colorFg) 40%, transparent)
    oklch(from var(--colorBg) calc(l - 0.03) c h);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "IBM Plex Sans", Inter,
    Ubuntu, sans-serif;
  font-size: 100%;
  font-variant-numeric: "tabular-nums";
  font-feature-settings: "tnum";
  font-weight: 400;
}
@container style(--isDarkTheme: 0) {
  body {
    --fgalt: oklch(from var(--colorFg) calc(l + 0.2) c h );
    --bgalt: oklch(from var(--colorBg) calc(l - 0.05) c h);
  }
}
@container style(--isDarkTheme: 1) {
  body {
    --fgalt: oklch(from var(--colorFg) calc(l - 0.2) c h);
    --bgalt: oklch(from var(--colorBg) calc(l - 0.025) c h);
  }
}
body {
  color: var(--colorFg);
  background: var(--colorBg);
  cursor: default;
  margin: 0;
  line-height: 1.2;
  user-select: none;
  overflow: hidden;
}
#outer,
#inner,
#phase strong {
  color: color-mix(in oklch, var(--colorBg) 30%, var(--colorHighlightBg));
}
#error {
  font-size: 0.8rem;
  text-align: center;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#reload {
  display: flex;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5ch;
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--radius);
  color: var(--fgalt);
}
#reload:hover {
  background-color: var(--bgalt);
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
#reload.load svg {
  animation: rotate 0.8s linear;
  transform-origin: center;
}
#container {
  width: calc(100vw - 1rem);
  height: calc(100vh - 1rem);
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#left,
#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#phase {
  min-width: 15ch;
  text-align: center;
  margin-block-start: 0.25rem;
  margin-block-end: unset;
}
#right {
  background: var(--bgalt);
  border-radius: var(--radius);
  font-size: 0.8rem;
}
#events {
  display: grid;
  grid-template-columns: 1.8ch auto 1.5ch auto 0.3rem;
  white-space: nowrap;
  padding: 0.5rem 0;
  padding-inline-start: 0.3rem;
  padding-inline-end: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}
li {
  display: contents;
}
.main {
  color: var(--colorHighlightBg);
}
.contain {
  position: relative;
}
.before,
.after {
  position: absolute;
  color: var(--colorHighlightBg);
}
.before {
  top: -50%;
}
.after {
  bottom: -50%;
}
.hidden {
  display: none !important;
}
footer {
  display: none;
}
@media (min-height: 180px) {
  #error {
    text-align: start;
  }
  #reload,
  #right,
  #phase {
    display: none;
  }
  #container {
    height: calc(100vh - 3.06rem);
  }
  #angle {
    width: calc(100vw - 1rem);
    margin: 0.3rem 0;
  }
  text {
    fill: var(--colorFg);
  }
  footer {
    display: flex;
    opacity: 0;
    justify-content: space-between;
    padding: 0.3rem 1rem 1rem;
    font-size: 0.8rem;
    background: var(--bgalt);
    color: var(--fgalt);
  }
  #map-pin {
    height: 0.8rem;
    vertical-align: middle;
  }
}
