/*
Moon Phase Widget
version 2024.11.0
Guide and updates ☛ https://forum.vivaldi.net/post/783627
————————  ⁂  ————————
*/
@media (prefers-color-scheme: light) {
  :root {
    --bbg: #f8f9fa;
    --ffg: #202122;
    --dfg: #595c5f;
    --cfg: #4b77d6;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bbg: #101418;
    --ffg: #eaecf0;
    --dfg: #a5aebf;
    --cfg: #3366cc;
  }
}
:focus-visible {
  outline: 2px solid var(--colorHighlightBg, var(--cfg));
  outline-offset: -1px;
}
html {
  --colormix: color-mix(
    in hsl,
    var(--colorFgFadedMost, var(--dfg)) 70%,
    var(--colorHighlightBg, var(--cfg))
  );
  font-size: 100%;
  font-family: sans-serif;
  font-variant-numeric: "tabular-nums";
  font-feature-settings: "tnum";
  font-weight: 400;
}
body {
  overflow: hidden;
  color: var(--colorFg, var(--ffg));
  background: var(--colorBgLight, var(--bbg));
  cursor: default;
  margin: 0.8rem;
  line-height: 1.2;
  user-select: none;
}
#reload {
  position: fixed;
  top: 0.8rem;
  left: 0.8rem;
  display: flex;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--radius);
  align-items: center;
}
#reload:hover {
  background-color: var(--colorBgLighter);
}
#reload svg {
  color: var(--colorFgFaded, var(--dfg));
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
#reload.load svg {
  animation: rotate 0.8s linear;
  transform-origin: center;
}
#container {
  width: calc(100vw - 1.6rem);
  height: calc(100vh - 1.6rem);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#left,
#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
svg {
  color: var(--colormix);
}
p {
  min-width: 15ch;
  text-align: center;
  margin-block-start: 0.4rem;
  margin-block-end: unset;
}
p b {
  color: var(--colormix);
}
#events {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.5ch;
  position: relative;
  font-size: 0.8rem;
  padding-inline-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  list-style-type: none;
}
li {
  display: contents;
}
.main {
  color: var(--colorHighlightBg, var(--colormix));
}
.after::before,
.before::before {
  position: absolute;
  content: "\ff3f";
  left: -2ch;
  color: var(--colorHighlightBg, var(--cfg));
  font-weight: bold;
}
.before::before {
  top: -1em;
}
.hidden {
  display: none !important;
}
