/*
Fortune Widget
version 2026.1.0
Guide and updates → https://forum.vivaldi.net/post/783627
———————— *** ————————
*/
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "IBM Plex Sans",
    Inter, Ubuntu, sans-serif;
  font-size: 100%;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: color-mix(in oklch, var(--colorFg) 40%, transparent)
    oklch(from var(--colorBg) calc(l - 0.03) c h);
}
body {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--colorFg);
  background: var(--colorBg);
  cursor: default;
  margin: 1rem;
}
#text {
  margin: 0;
  line-height: 1.3;
  overflow-wrap: break-word;
  hyphens: auto;
  hyphenate-character: "\2010";
}
footer {
  text-align: center;
  opacity: 0.6;
  padding: 0.8rem 0 1rem;
  user-select: none;
}
svg {
  fill: var(--colorFg);
  height: 1rem;
}
