/*
Addressfield Theming
version 2023.3.0
https://forum.vivaldi.net/post/356714
Changes the colors of the hostfragments, the certified siteinfo button, the
icons for blocked content and the bookmark button in the addressfield.
*/

.UrlFragment-Wrapper--ShouldHighlight {
  --HighlightColor: var(--colorFg);
  --LowlightColor: var(--colorFgFaded);
}
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Subdomain {
  color: var(--colorHighlightBg) !important;
  font-weight: bold;
}
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Basedomain,
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-TLD {
  font-weight: bold;
}
.permission-denied circle {
  fill: var(--colorHighlightBg);
}
.permission-denied path {
  fill: var(--colorHighlightFg);
}
