/*
Changing Buttons
version 2021.10.0
https://forum.vivaldi.net/post/155310
Changes home and trash button svgs. Many more examples in linked topic.
*/

.toggle-trash.button-toolbar button svg path {
  d: path("M6.5 8 h13 v2 h-13 Z M6.5 12 h13 v2 h-13 Z M9 16 h8 v2 h-8 Z");
}

.toolbar-command button[title="Copy Page Address"] svg path {
  d: path(
    "m 7.6283802,18.465504 h 6.1194258 c 0.240406,0 0.437103,-0.196697 0.437103,-0.437102 v -1.748408 h 1.311305 v 1.748408 c 0,0.964355 -0.784052,1.748408 -1.748408,1.748408 H 7.6283802 c -0.9657219,0 -1.7484075,-0.784053 -1.7484075,-1.748408 v -6.119426 c 0,-0.964356 0.7826856,-1.748407 1.7484075,-1.748407 h 1.7484076 v 1.311305 H 7.6283802 c -0.2414988,0 -0.4371019,0.196696 -0.4371019,0.437102 v 6.119426 c 0,0.240405 0.1956031,0.437102 0.4371019,0.437102 z M 10.250991,7.5379572 c 0,-0.9657219 0.784052,-1.7484074 1.748408,-1.7484074 h 6.119427 c 0.964355,0 1.748408,0.7826855 1.748408,1.7484074 v 6.1194258 c 0,0.964356 -0.784053,1.748408 -1.748408,1.748408 h -6.119427 c -0.964356,0 -1.748408,-0.784052 -1.748408,-1.748408 z m 1.748408,6.5565288 h 6.119427 c 0.240405,0 0.437102,-0.196696 0.437102,-0.437103 V 7.5379572 c 0,-0.2414988 -0.196697,-0.4371019 -0.437102,-0.4371019 h -6.119427 c -0.240406,0 -0.437102,0.1956031 -0.437102,0.4371019 v 6.1194258 c 0,0.240407 0.196696,0.437103 0.437102,0.437103 z"
  );
}
