

/* internal pages */
webview[src="about:blank"]::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      transparent 50%,
      var(--colorBg) 50%
    ),
    linear-gradient(to right, var(--colorBgDark) 50%, var(--colorBg) 50%);
  background-size: 10px 10px, 10px 10px;
}

/* clock */
.ClockGraphic-Second-Hand {
  fill: var(--colorHighlightBg);
}

/* window buttons */
.window-buttongroup button.window-maximize,
.window-buttongroup button.window-minimize {
  display: none;
}
.linux #tabs-container:not(.none).top {
  padding-right: 40px;
}
