/*
M3
version 2021.9.0
https://forum.vivaldi.net/post/430762
Changes the name of the mail panel ^^
*/

#mail_panel h1 {
  font-size: 0;
}
#mail_panel h1::after {
  font-size: 16px;
  content: "M3";
}
