/* header */
.window-buttongroup {
  display: none !important;
}
.linux #tabs-container:not(.none).top,
#browser.linux:not(.native).address-top
  .toolbar:has(.window-buttongroup.on-mainbar) {
  padding-right: unset;
}
.alt#browser.linux:not(.native).address-top
  .toolbar:has(.window-buttongroup.on-mainbar) {
  padding-left: unset;
}
#browser.linux.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
  min-height: calc(35px / var(--uiZoomLevel));
}
#browser.linux.address-top .toolbar:has(.window-buttongroup.on-mainbar) .vivaldi {
  height: 35px;
}

/* tabs */
.tab-position .tab.active .tab-header .favicon:not(.svg) {
  filter: unset !important;
}

/* addressfield */
.UrlFragment-Wrapper:not(.UrlFragment-Wrapper--ShouldHighlight) {
  --HighlightColor: var(--colorFg);
  --LowlightColor: var(--colorFg);
}
.UrlFragment-Wrapper--ShouldHighlight {
  --HighlightColor: var(--colorFg);
  --LowlightColor: var(--colorFgFadedMost);
}
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Subdomain,
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Basedomain,
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-TLD {
  font-weight: bold;
}
.BookmarkButton .bookmark-animated-fill {
  fill: var(--colorFg) !important;
}
.permission-denied circle {
  fill: var(--colorHighlightBg);
}
.permission-denied path {
  fill: var(--colorHighlightFg);
}

/* panel container */
#window-panel .vivaldi-tree .title.active::before {
  content: "☛";
  margin-left: -40px;
}

/* M3 */
#mail_panel h1 {
  font-size: 0;
}
#mail_panel h1::before {
  font-size: 16px;
  content: "M3";
}

/* internal pages */
.button-startpage.add-set,
.SpeedDialView-Settings-Button {
  display: none;
}

/* reading list */
.readinglist-listing-large {
  order: 1;
}

/* hide play button in pause mode */
.HUD {
  display: none;
}

/* clock feature */
.ClockGraphic-Second-Hand {
  fill: var(--colorHighlightBg);
}
