#main {
  --colormix: color-mix(
    in hsl,
    var(--colorFgFadedMost) 70%,
    var(--colorHighlightBg)
  );
}

/* font */
#browser.linux,
#browser.linux ~ div,
#browser.linux button,
#browser.linux input,
#browser.linux select,
#browser.linux textarea {
  font-family: "Adwaita Sans", system-ui, sans-serif;
  /* round quotes and commas, lower-case L with tail, tabular numbers */
  /* font-feature-settings: "ss03", "cv05", "tnum"; */
}

/* header */
#header {
  display: none;
}
.window-buttongroup {
  display: none !important;
}
.linux #tabs-container:not(.none).top,
#browser.linux:not(.native).address-top
  .toolbar:has(.window-buttongroup.on-mainbar) {
  padding-right: unset;
}
.alt#browser.linux:not(.native).address-top
  .toolbar:has(.window-buttongroup.on-mainbar) {
  padding-left: unset;
}
.alt.disable-titlebar.address-top#browser:not(.tabs-top) .vivaldi {
  top: unset;
}
#browser.linux.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
  min-height: calc(35px / var(--uiZoomLevel));
}
#browser.linux.address-top
  .toolbar:has(.window-buttongroup.on-mainbar)
  .vivaldi {
  height: 35px;
  width: 34px;
  margin: 0;
  padding: 0;
}
#browser.linux.address-top
  .toolbar:has(.window-buttongroup.on-mainbar)
  .vivaldi
  svg {
  fill-opacity: 0.33;
}
#browser.linux.address-top
  .toolbar:has(.window-buttongroup.on-mainbar)
  .vivaldi
  .expand-arrow {
  display: none;
}

/* addressfield */
button[title="Content Blocker"] {
  display: none;
}
.UrlFragment-Wrapper:not(.UrlFragment-Wrapper--ShouldHighlight) {
  --HighlightColor: var(--colorFg);
  --LowlightColor: var(--colorFg);
}
.UrlFragment-Wrapper--ShouldHighlight {
  --HighlightColor: var(--colorFg);
  --LowlightColor: var(--colorFgFadedMost);
}
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Subdomain,
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-Basedomain,
.UrlFragment-Wrapper--ShouldHighlight .UrlFragment-HostFragment-TLD {
  font-weight: bold;
}
#browser .BookmarkButton .bookmark-animated-fill {
  fill: var(--colormix);
}
.permission-denied circle {
  fill: var(--colorHighlightBg);
}
.permission-denied path {
  fill: var(--colorHighlightFg);
}

/* panel container */
#window-panel .vivaldi-tree .title.active::before {
  content: "⌑";
}

/* m3 */
#mail_panel h1 {
  font-size: 0;
}
#mail_panel h1::before {
  font-size: 16px;
  content: "M3";
}

/* vpn button */
[name=VPNButton] svg {
  color: var(--colormix);
}

/* status info */
.StatusInfo .UrlFragments,
.StatusInfo-Content {
  color: var(--colorFgFaded);
}

/* startpage */
.dashboard-widget .url-wrapper {
  display: none;
}

/* break mode */
button.HUD {
  display: none;
}

